.card {
    border-radius: var(--border-radius-blocks);
    border: 1px solid var(--sidebar-border-color);
    padding: 16px 0 16px 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

@media screen and (max-width: 430px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .ribbonText {
        display: none;
    }
}

@media screen and (min-width: 431px) {
  .ribbonImg {
    display: none;
  }
}
.imgWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.img {
    border-radius: var(--border-radius-blocks);
    object-fit: cover;
    object-position: center center;
    height: inherit;
}

.description {
    flex: 1;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    text-align: right;
}

.mainText {
    font-weight: 500;
    font-size: var(--title-font-size);
}

.title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: 28px;
    color: var(--colored-button-bg);
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 17px;
        line-height: 20px;
    }
    .description {
        gap: 8px;
    }
}

.subtitle {
    color: var(--colored-button-bg);
}

@media screen and (max-width: 800px) {
    .column {
        flex-direction: column;
    }
}