.carousel {    
    overflow: hidden;    
}

.carouselRoot {
    max-width: 500px;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .carouselRoot {
        max-width: calc(100vw - 40px );
    }
}

.imgContainer {    
    background: '#364d79';
    overflow: hidden;
    height: 400px;
    width: 400px;
}


@media screen and (max-width: 700px) {
    .imgContainer {
        height: 300px;
        width: 400px;
    }
}

.carouselImg {
    object-fit: cover;
    object-position: center center;
    height: inherit;
    overflow: hidden;
}

.arrow {
    font-size: 20px;
    color: 'black',
}