:root {
  --main-color: #003b95;
  --colored-button-bg: #006ce4;
  --color-accent-bg: #ffb700;
  --main-white: #fff;
  --dark-text: #1a1a1a;

  --font-family: "Roboto", sans-serif;

  --container-width: 1140px;

  --main-font-size: 13px;

  --title-font-size: 20px;
  --title-font-weight: 700;

  --subtitle-font-size: 14px;
  --subtitle-font-weight: 700;


}