.container {
  flex: 1;  
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
}

.centre {
  text-align: center;
}

.cardField {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .cardField {
    flex-direction: row;
    align-items: center;
  }
}